version: '3.8'
services:
  web:
    build: .
    ports:
      - "3000:3000"
    environment:
      - MONGODB_URI=${MONGODB_URI}
      # Add any other API keys you have in your .env here (e.g., JWT_SECRET)
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-farmer-data:/data/db

volumes:
  mongo-farmer-data: